<!DOCTYPE html>
<html>
    <head>
        <title>Panel Sterowania</title>
    </head>
    <body>
        <h2>Panel sterowania</h2>
        {{ form_start(formpanel) }}
        {{ form_widget(formpanel) }}
        {{ form_end(formpanel) }}
    </body>
</html>