
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>Tworzysz pytania do {{ artykul.name }}<h1>
        <h2>Dodaj Pytanie</h2>
        {{ form_start(formQuestion) }}
        {{ form_widget(formQuestion) }}
        {{ form_end(formQuestion) }}
    </body>
</html>