<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h2>Wypełnij tą ankiete<h2>
        {% if form is defined %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        {% endif %}
        
        {% if data is defined %}
           HEJ!
        {% endif %}
        <a href="/"><button>Powrót</button></a>
    </body>
</html>