<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <style>
            textarea{
                clear:both;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <h2>Wypełnij tą ankiete</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
        <a href="/"><button>Powrót</button></a>
    </body>
</html>