<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>
<h2>Dziękujemy za wypełnienie ankiety</h2>
<h3>Twój kod rabatowy *brak*</h3>
<a href="/"><button>Ok</button></a>
</body>
</html>