
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h2>Dodaj Ankiete</h2>
        {{ form_start(formsurvey) }}
        {{ form_widget(formsurvey) }}
        {{ form_end(formsurvey) }}
    </body>
</html>