
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h2>Dziękujemy za zrobienie ankiety o nazwie {{ survey.name }}</h2>
        <h3>Oto stworzone odpowiedzi</h3>
        <ul id="list">
            {% for item in items %}
                <li>{{ item.content }}</li>
            {% endfor %}
        </ul>
        <a href="/panel"><button>OK</button></a>
    </body>
</html>