<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h3>Dodane odpowiedzi do pytania {{ question.content }}: </h3>
        <ul id="list">
            {% for item in items %}
                <li>{{ item.content }}</li>
            {% endfor %}
        </ul>
        {% if option == 'add' %}
            <a href="/question/add/{{ question.getIdSurvey }}"><button>OK</button></a>
        {% endif %}
    </body>
</html>