<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h3>Dodane odpowiedzi: <h3>
        <ul id="list">
            {% for item in items %}
                <li>{{ item.content }}</li>
            {% endfor %}
            {{ form_start(formend) }}
            {{ form_widget(formend.zakoncz, { 'label': 'Ok' }) }}
            {{ form_end(formend) }}
        </ul>
    </body>
</html>